.header {
  background: linear-gradient(to right, #62664B, #4a4e3a);
  color: #EFECE4;
  padding: 1rem 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 200px;
}

.nav {
  display: flex;
  gap: 2rem;
}

.nav a {
  font-size: 1rem;
  color: #EFECE4;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #EFECE4;
  transition: width 0.3s ease;
}

.nav a:hover {
  color: #BBC2B6;
}

.nav a:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .nav {
    gap: 1rem;
  }

  .logo {
    font-size: 1.5rem;
  }
}
